@charset "UTF-8";
@font-face {
    font-family: "fontePag";
    src: url("../fontes/trebuc.ttf");
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: fontePag, sans-serif;
    border: transparent;
}
.informe{
    background-image: url("../imagens/background.png");
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: auto;
    padding-top: 50px;
}
#logoBranco{
    position: relative;
    top: 3px;
    left: 47%;
}
h1{
    background-color: #ad653e;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 50px;
    font-size: 25pt;
    text-align: center;
    padding: 10px;
    margin: 5px 10px 15px 10px;
}
input{
    width: 360px;
    height: 40px;
    margin: 0 10px 10px 10px;
    padding: 0 10px 0 10px;
    font-size: 14pt;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
}
#enviar{
    margin-top: 10px;
    background-color: #fe8646;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    width: 380px;
}